
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-main: #ffffff;
  --bg-card: #f9fafb;
  --text-main: #111827;
  --text-muted: #4b5563;
  --border-color: #e5e7eb;
}

.dark {
  --bg-main: #121418;       
  --bg-card: #191c21;      
  --text-main: #e1e4ed;    
  --text-muted: #9ba1b0;
  --border-color: #262b35; 
}

body {
  background-color: var(--bg-main);
  color: var(--text-muted); 
  font-family: inherit;
  transition: background-color 0.2s ease, color 0.2s ease;
}


.dark h1, 
.dark h2, 
.dark h3, 
.dark h4, 
.dark h5, 
.dark h6 {
  color: var(--text-main);
}

.dark td, 
.dark th {
  color: var(--text-muted);
  border-color: var(--border-color);
}

.dark th {
  color: var(--text-main);
}
